@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aron Grotesque';
  src: url('/aron-grotesque/AronGrotesque-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aron Grotesque';
  src: url('/aron-grotesque/AronGrotesque-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aron Grotesque';
  src: url('/aron-grotesque/AronGrotesque-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aron Grotesque';
  src: url('/aron-grotesque/AronGrotesque-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Aron Grotesque', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191919;
  color: #f3f4f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
